{% extends "base.html" %}
{% load static %}


{% block content %}


<div class="container-fluid" id="form-successful" >

  <link rel="stylesheet" href="{%static 'css/style1.css'%}">
  <link rel="stylesheet" href="{%static 'css/style2.css'%}">

    
 <!-- messages-->
 {% if messages %}

 {% for message in messages  %}

    {% if 'success' in message.tags %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

    {%elif 'error' in message.tags%}
    
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      
    {% endif %}



 
   
 {% endfor %}
  
{% endif %} 





{% if reservation.will_assist %}



<p class="asignacion-boletos">Por razones de organización estamos asignando boletos. Agradecemos tu comprehensión. </p>



<div class="row justify-content-center">
  <div class="col-md-8 text-left ">
    <div class="people-card-success ">
      <h1 class="confirmation font-secondary display-4">Reservación encontrada.</h1>
      <p>Nombre:  <span class="asignacion-boletos">{{reservation.name}}</span> </p>
      <p>Boletos asignados: <span class="asignacion-boletos"> {{reservation.num_tickets}}</span></p>
      

    
      
  






</div>

<a href="{%url 'app1:home'%}" class="return-link">regresar</a>

      
  


  </div>
</div>

<div class="container-fluid " id="rsvp">

  
                <form id="form-reservation" method="POST">
                  {% csrf_token %}
                 
                   
                      
                        <div class="form-group col-sm-6">
                          <label for="" class="form-label">Cuantas personas asistiran?</label>
                            {{form.num_will_assist}}
                            <small id="emailHelp" class="form-text text-muted">El maximo numero deber la cantidad de tickets asignados</small>
                        </div>
                       <div class="form-group col-sm-6">
                        <label for="" class="form-label">Estas reservando Hotel?</label>
                            {{form.is_reserving_hotel}}
                        </div>

                        
                  

                    <input type="submit" class="button-form btn btn-secondary font-weight-bold py-3 px-3 text-center" value="Enviar">
                    
                  
                </form>
            </div>



 {%else%}
 
  <div class="container" ">
    <div class="row">
      <div class="col" id="will-not-assist">
        <h1 class="text-center">Gracias por tu confirmación!</h1>
        <a href="{%url "app1:home"%}" class="return-link">Regresar</a>
      </div>
    </div>

  </div>

    


  
{% endif %}







 
              
              
              
              
              
              
              
                </div>
          </div>
   
  </div>

    

    
</div>





{% endblock content %}