{% extends "base.html" %}
{% load static %}


{% block content %}


<div class="container" id="form-successful" >

  <link rel="stylesheet" href="{%static 'css/style1.css'%}">

    
 <!-- messages-->
 {% if messages %}

 {% for message in messages  %}

    {% if 'success' in message.tags %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

    {%elif 'error' in message.tags%}
    
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      
    {% endif %}



 
   
 {% endfor %}
  
{% endif %} 






    <div class="row justify-content-center">
        <div class="col-md-8 ">
          <div class="people-card-success">
            <h1 class="confirmation font-secondary display-4">Reservación encontrada.</h1>
            <p>Nombre: {{reservation.name}}</p>
            <p>Numero de tickets: {{reservation.num_tickets}}</p>
            <p>Mensaje a los novios: {{reservation.message}}</p>

          
            
        

        {% if reservation.will_assist %}
        <p class="attend">Si asistiré a la boda</p>
          
        {%else%} <p class="not-attend">No podré asistir.</p>    
    
        {% endif %}


      

      </div>

      <a href="{%url 'app1:home'%}" class="return-link">regresar</a>

            
        


        </div>
    </div>


    


    <div class="container-fluid py-5" id="rsvp">
      <div class="container py-2">
        
                      <form id="form-reservation" method="POST">
                        {% csrf_token %}
                       
                          <div class="form-row">
                            
                              <div class="form-group col-sm-6">
                                <label for="" class="form-label">Cuantas personas asistiran?</label>
                                  {{form.num_will_assist}}
                                  <small id="emailHelp" class="form-text text-muted">El maximo numero deber la cantidad de tickets asignados</small>
                              </div>
                             <div class="form-group col-sm-6">
                              <label for="" class="form-label">Estas reservando Hotel?</label>
                                  {{form.is_reserving_hotel}}
                              </div>

                              
                          </div>

                          <input type="submit" class="button-form btn btn-secondary font-weight-bold py-3 px-3 text-center" value="Enviar">
                          
                        
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>

    

    
</div>





{% endblock content %}