{% extends "base.html" %}



{% block content %}

<div class="container">


       
 <!-- messages-->
 {% if messages %}

 {% for message in messages  %}

    {% if 'success' in message.tags %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

    {%elif 'error' in message.tags%}
    
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      
    {% endif %}



 
   
 {% endfor %}
  
{% endif %} 







    <div class="row text-center">
        <div class="col">
            <h1 class="text-center" style="color:black">Codigo de reservación no encontrado</h1>
    

    <a href="{%url 'app1:home'%}">Regresar</a>
        </div>
    </div>
    
</div>




{% endblock content %}
