{% extends "base.html" %}
{% load static %}






{% block content %}



<link rel="stylesheet" href="{%static "css/style1.css"%}">
<link rel="stylesheet" href="{%static "css/style2.css"%}">



<div class="container-fluid d-flex flex-column align-items-center justify-content-center not-found" style="height: 100vh;">






 








    <div class="row text-center">
        <div class="col">
            <h1 class="text-center font-secondary" style="color:black">Codigo de reservación no encontrado</h1>
    

    <a href="{%url 'app1:home'%}" style="color: black;">Regresar</a>
        </div>
    </div>
    
</div>




{% endblock content %}
